body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 50px 800px auto;
  grid-template-areas:
    "header header"
    "aside main"
    "aside footer ";
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul a {
  text-decoration: none;
}
li a ion-icon {
}
footer a {
  text-decoration: none;
  color: black;
}
/*ハンバーガー*/

/*ヘッダ*/

header {
  grid-area: header;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 5000;
}

.header-menu {
  background-color: black;
  color: white;
}
.header-top {
  display: flex;
  height: 50px;
}
/*メイン*/
main {
  grid-area: main;
  background-color: #ccc;
  color: black;
}

/* アイキャッチャー */
.eye-catch-container {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
}
.big-eye-catch {
  width: 70%;
  height: 100%;
}
.small-eye-catch {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.big-eye-catch > picture {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.small-eye-catch > picture {
  display: block;
  width: 100%;
  height: 50%;
}
picture > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.big-eye-catch picture > h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 1000;
  background-color: gray;
}
.top-picture,
.bottom-picture {
  position: relative;
}
.small-eye-catch .top-picture > h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 15px 0;
  width: 100%;
  z-index: 1000;
  background-color: gray;
}
.small-eye-catch .bottom-picture > h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 15px 0;
  width: 100%;
  z-index: 1000;
  background-color: gray;
}
/*サイド*/
#aside.is-on .aside-menu {
  height: 100vh;
}
#aside.is-on .aside-menu ul li {
  border-bottom: 2px solid black;
}

aside {
  grid-area: aside;
  height: 100vh;
  position: fixed;
  top: 50px;
}

.aside-menu {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 0vh;
  overflow: auto;
  background-color: #595959;
  color: white;
}
.aside-menu ul a {
  color: white;
}
.aside-menu ul li {
  font-size: 20px;
  box-sizing: border-box;
  padding: 20px 0 20px 20px;
}
.menu-theme {
  overflow: auto;
}

.aside-twitter {
  height: 100vh;
}
/*フッタ*/
footer {
  grid-area: footer;
  background-color: #a3a3a3;
}
footer small {
}
