body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 50px 800px auto;
  grid-template-areas:
    "header header"
    "aside content"
    "aside footer ";
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul a {
  text-decoration: none;
}
li a ion-icon {
}
footer a {
  text-decoration: none;
  color: black;
}
/*ハンバーガー*/

/*ヘッダ*/

header {
  grid-area: header;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.header-menu {
  background-color: black;
  color: white;
}
.header-top {
  display: flex;
  height: 50px;
}
/*メイン*/
main {
  grid-area: content;
  background-color: #ccc;
  color: black;
}
/*サイド*/
#aside.is-on .aside-menu {
  height: 100vh;
}
#aside.is-on .aside-menu ul li {
  border-bottom: 2px solid black;
}

aside {
  grid-area: aside;
  height: 100vh;
  position: fixed;
  top: 50px;
}

.aside-menu {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 0vh;
  overflow: auto;
  background-color: #595959;
  color: white;
}
.aside-menu ul a {
  color: white;
}
.aside-menu ul li {
  font-size: 20px;
  box-sizing: border-box;
  padding: 20px 0 20px 20px;
}
.menu-theme {
  overflow: auto;
}

.aside-twitter {
  height: 100vh;
}
/*フッタ*/
footer {
  grid-area: footer;
  background-color: #a3a3a3;
}
footer small {
}
